<snmp-setting>
  <access-setting>
    <version>
      <v3>
        <views>
          <entry name="V-dot1">
            <view>
              <entry name="dot1">
                <oid>.1</oid>
                <option>include</option>
              </entry>
            </view>
          </entry>
        </views>
        <users>
          <entry name="{snmp_username }}">
            <authpwd>{{ snmp_auth }}</authpwd>
            <privpwd>{{ snmp_priv }}</privpwd>
            <view>V-dot1</view>
          </entry>
        </users>
      </v3>
    </version>
  </access-setting>
  <snmp-system>
    <location>{{ address }}</location>
    <contact>neteng@subway.com</contact>
  </snmp-system>
</snmp-setting>
