{% for item in phpipam_config %}
curl -X POST --data 'hostname={{ item.hostname }}' 'http://192.168.1.125/api/lab/addresses/?subnetId=8&ip={{ item.mgmt_ip }}' --header "token: FJ4.P8xJtNiErBJzTagAhffh" --header "Content-type: application/x-www-form-urlencoded" -i
{% endfor %}
